body {
	background-color: #f2efe1;
}

p {
	line-height: 130%;
}

.underline {
	text-decoration: underline;
}

.bold {
	font-weight: bold;
}

.small {
	font-size: 80%;
}

.text_padding {
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}

.fill_width {
	width: 100%;
}

.fill_height {
	height: 100%;
}

.narrow {
	width: 80%;
}

.buttons {
	width: 30%;
	margin: 2% auto 2% auto;
}

.add_grey_border {
	border: solid 2px #494b4a;
}

.add_teal_border {
	border: 2px solid #009688;
}

.header_text {
	font-family: 'Bradley Hand ITC';
	font-size: 500%;
	text-decoration: none;
	margin: auto;
}

/* Different margin sizes in classes */ 

.margin-top-1 {margin-top: 1%;} .margin-top-2 {margin-top: 2%;} .margin-top-3 {margin-top: 3%; } .margin-top-5 { margin-top: 5%;} .margin-top-10 { margin-top: 10%;}

.margin-bottom-3 {margin-bottom: 3%;} .margin-bottom-5 {margin-bottom: 5%;} .margin-bottom-10 {margin-bottom: 10%;} .margin-bottom-15 {margin-bottom: 15%;} 


/* Resizing logos according to device size */

#logo {
	display: block;
	margin: 1% auto;
	width: 70%;
}

#logo_mobile {
	width: 50%;
	margin-top: 4%;
}

#logo_tablet {
	width: 60%;
	margin-top: 4%;
}

/* Navbar adjustments */

.central {
	display:flex; 
	justify-content:center;
}

nav {
	margin: 1% 0 1.5% 0;
}

.nav-text {
	font-size: 120%;
}

li {
	margin: 0 1% 0 1%;
}

/* CSS for the About Us Banner */

#about_banner {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/cover_photo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
}

#about_insert {
	width: 40%;
	margin: auto;
}

#about_overlay {
	display: block;
	margin: auto;
	width: 100%;
}

/* Text Within the About Section */

.about_text {
	text-align: left;
	font-size: 120%;
	margin-bottom: 2%;
	line-height: 130%;
}

.food_time_info {
	text-align: center;
	font-weight: bold;
	font-size: 110%;
	line-height: 150%;
}

.knife, .fork {
	display: block;
	margin: 3% auto 0 auto;
	padding: 0 4% 0 4%;
	height: 100%;
}

#icon_row {
	width: 80%;
	margin-bottom: 3%;
}

.about_icon {
	font-size: 35px !important;
}

.icon_container {
	width: 35px;
	margin: 15% auto 0 auto;
}

.social_icon {
	margin-right: 3%;
}


/* CSS for the food menus sections */

#menu_header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/menu_section.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
}

#menu_nav {
	margin-top: 2%;
	width: 100%;
}

.tabs .indicator {
	background-color: #009688 !important;
}
.tabs .tab a.active {
    background-color:#f2efe1 !important;
}

.food_names {
	padding-top: 3%;
	padding-bottom: 1%;
}

.description {
	padding-bottom: 2%;
}

#burger_photo {
	width: 42%;
	float: left;
}

#sides_photo {
	width: 25%;
	float: right;
}

#pizza_photo {
	width: 47%;
	float: left;
}

#steaks {
	width: 57%;
	float: right;
}

#fish {
	width: 36%;
	float: left;
}

#salads {
	width: 36%;
	float: left;
	margin-left: 1.5%;
}

#pizzas {
	width: 51%;
	float: right;
}

#salad_text, #fish_text, #steak_text {
	padding-top: 4%;
	padding-bottom: 4%; 
}

#burger_icon {
	margin: 3% 15% 0 0;
}

/* CSS for Gallery Section */

#gallery_header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/gallery_banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
}

/* CSS for Events Section */

#events_header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/events_banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
}

/* CSS for Reviews Section */

#reviews_header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/reviews_banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
}


/* CSS for Contact Section */

#contact_header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/contact_banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
}


/* Media Queries for Ipad Size */

@media only screen and (min-width: 601px) and (max-width: 992px) {
	#about_banner {
		height: 350px;
	}
	
	#menu_header, #contact_header, #events_header, #reviews_header, #gallery_header {
		height: 200px;
	}

	h1 {
		font-size: 3rem !important;
	}
	
	h3 {
		font-size: 2.2rem !important;
		margin: 4% 0 4% 0 !important;
	}
	
	.buttons {
		width: 60%;
	}
	
	.fork, .knife {
		padding: 0;
		margin-top: 8%;
	}
	
	#steaks {
		width: 100%;
	}
	
	#fish {
		width: 49%;
	}
	
	#salads {
		width: 49%;
		float: right;
	}
	
	#pizza_photo {
		width: 55%;
	}
	
	#pizzas {
		width: 43%;
	}
	
}

/* Media Queries for Mobile Size */

@media only screen and (max-width: 600px) {
	#about_banner {
		height: 250px;
	}
	
	#menu_header, #contact_header, #events_header, #reviews_header, #gallery_header {
		height: 180px;
	}
	
	#about_insert {
		width: 80%;
	}
	
	.buttons {
		width: 80%;
	}
	
	.header_text {
		font-size: 400%;
	}
	
	.fork, .knife {
		margin-top: 4%;
		margin-bottom: 4%;
	}
	
	#steaks, #fish, #salads, #pizzas {
		width: 100%;
	}
  
}